<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312485807232-av7fe2lcg678enf0uj7c6gd50vn5c9rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312485807232-av7fe2lcg678enf0uj7c6gd50vn5c9rr</string>
	<key>API_KEY</key>
	<string>AIzaSyA-NP9cqwwENOzdflYIt8Srd6uRJCoI53s</string>
	<key>GCM_SENDER_ID</key>
	<string>312485807232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat2</string>
	<key>PROJECT_ID</key>
	<string>chat2-5f3d6</string>
	<key>STORAGE_BUCKET</key>
	<string>chat2-5f3d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312485807232:ios:76b09290785fea5d6c5265</string>
</dict>
</plist>